body {
    background-color: lightgray;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

.header {
    text-align: center;
}

.header a {
    font-style: italic;
    font: bold;
}

.topnav ul{
    list-style-type: none;
    background-color:rgb(73, 73, 73);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    float: left;
}
.topnav a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 25px;
    text-size-adjust: 10px;
}
.topnav a:hover {
    background-color: rgb(128, 127, 127);
    color: black;
}

.topnav li {
    float: left;
}

.todo {
    background-color: rgb(128, 127, 127);;
    text-align: center;
    width: 200px;
}

.todo a{
    text-align: center;
    
}

.todo a:hover {
    background-color: white;
    color: black;
}